.grid-item {
  width: 100%;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
  margin: 0 auto 10px auto;
}

@media (min-width: 576px) {
  .grid-item {
    width: calc(50% - 8px);
  }
}

@media (min-width: 768px) {
  .grid-item {
    width: calc(33% - 8px);
  }
}

@media (min-width: 992px) {
  .grid-item {
    width: calc(25% - 8px);
  }
}

@media (min-width: 1200px) {
  .grid-item {
    width: calc(20% - 8px);
  }
}
